<!--
Code adapted from the structure that can be found on the link below

Title: Mongodb-test
Author: Mikhail Timofeev
Date: 18/04/2020 (last accessed)
Availability: https://github.com/mikhail-cct/mongodb-test  
-->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Album Collection</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- Bootstrap core JavaScript -->
        <script src="jquery/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>

    <body>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary static-top">
            <div class="container">
            <a class="navbar-brand" href="#">Album Collection</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                            </a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="mt-5">Welcome to My Album Collection</h1>
                    <p class="lead">Select your entrees from the menu below.</p>
                </div>
                <div class="col-lg-8 order-3">
                    <div class="table-responsive table-hover">
                        <table id="menuTable" class="indent table-hover">
                            <thead>
                                <tr>
                                    <th colspan="6" style= "text-align:center">Album Collection</th>
                                </tr>
                                <tr>
                                    <th>Select</th>
                                    <th>Artist</th>
                                    <th>Album</th>
                                    <th>Year</th>
                                    <th>Genre</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                
                            </tbody>
                        </table><br/>
                    </div>
                </div>
                <div class="col-lg-4 text-center order-2">
                    <form name="newAlbumForm" enctype="application/json" action="/post-newalbum" onsubmit="return validateForm()" method="post">
                        <label for="">Add a new Album</label>
                        <div class="form-group">
                            <select id="album-genre" class="form-control" name="genre">
                                <option selected>Choose...</option>
                                <option value="POP">Pop</option>
                                <option value="REB">ReB</option>
                                <option value="HIPHOP">Hip Hop</option>
                                <option value="EDM">Electronic Dance Music</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="album-artist" class="form-control" type="text" name="artist" placeholder="Artist">
                        </div>
                        <div class="form-group">
                            <input id="album-name" class="form-control" type="text" name="album" placeholder="Album">
                        </div>
                        <div class="form-group">
                            <input id="album-year" class="form-control"  type="number" name="year" placeholder="Year">
                        </div>
                        <button id="success-btn" type="submit" class="btn btn-outline-secondary create-album">Submit</button>
                    </form>
                    <br>

                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <span class="text-muted">&copy; 2019</span>
            </div>
        </footer>
    </body>
    <!--
    Code below adapted from the structure that can be found on the links below

    Title: AJAX, RESTful API Tutorial - Perform CRUD Operations with Node server
    Author: Learn Coding Tutorials
    Date: 22/04/2020 (last accessed)
    Availability: https://www.youtube.com/watch?v=G0BzzuXS8gI&t=664s

    Title: Quick Add Edit Delete Table Items | JavaScript + Backend (Part 1 of 2)
    Title: Quick Add Edit Delete Table Items JavaScript + Backend Part 2 of 2
    Author: Dennis Ivy
    Date: 22/04/2020 (last accessed)
    Availability: https://www.youtube.com/watch?v=pNxWUfw1J_w and https://www.youtube.com/watch?v=LbhVVN5ffi0

    Title: JSON Response To HTML Table | Javascript (Ajax)
    Author: Dennis Ivy
    Date: 22/04/2020 (last accessed)
    Availability: https://www.youtube.com/watch?v=ru_YWeOh2kU
    -->
    
    <script>

        var newId = "1"
        var newAlbum = {'id': `album-${newId}`,'genre': null, 'artist': null, 'album': null, 'year': null}

        //helpers to create a new album 
        $('#album-artist').on('keyup', function(){
            newAlbum.year = $(this).val()
        })

        $('#album-name').on('keyup', function(){
            newAlbum.year = $(this).val()
        })

        $('#album-year').on('keyup', function(){
            newAlbum.year = $(this).val()
        })

        $('#album-genre').on('change', function(){
            newAlbum.genre = $(this).val()
            
        })

        //this method is to validate the user input
        function validateForm() {
        var genre = document.forms["newAlbumForm"]["genre"].value;
        var artist = document.forms["newAlbumForm"]["artist"].value;
        var album = document.forms["newAlbumForm"]["album"].value;
        var year = document.forms["newAlbumForm"]["year"].value;
        //checks if the field genre is selected
        if (genre == "Choose...") {
            alert("You must choose a genre");
            return false;
        } else if (artist == "") {
            //checks if the artist genre is typed
            alert("Artist must be filled out");
            return false;
        } else if (album == "") {
            //checks if the album genre is typed
            alert("Album must be filled out");
            return false;
        } else if (year == "") {
            //checks if the field year is typed
            alert("Year must be filled out");
            return false;
        } else if (isNaN(year)){
            //checks if the input if year is a number
            alert("Year must be a number and have 4 digits");
            return false;
        } else if (year.length < 4 || year.length > 4){
            //checks if the input of year has 4 numbers
            alert("Year must have 4 digits");
            return false;
        }

        swal("Good job!", "You just added an Album!", "success"); //pop up alert

    };

        //Validation of entries for the new album
        $('#create-album').on('click', function(){
            if(newAlbum.genre == null){
                alert('No genre selected!')
            }else if(newAlbum.artist == null){
                alert('Artist cant be empty!')
            }else if(newAlbum.name == null){
                alert('Album cant be empty!')
            }else if(newAlbum.year == null){
                alert('Year cant be empty!')
            }else{
                addRow(newAlbum)
                createAlbumPOST()
                $('#album-artist').val('')
                $('#album-name').val('')
                $('#album-year').val('')
                $('#album-genre').val('')
            }
        })

        //Ajax POST function to create an album and save into the DB
        function createAlbumPOST(){
            var url = '/post-newalbum'

            $.ajax({
                method: 'POST',
                url: url,
                data: newAlbum,
                success: function(){

                }
            })
            
        }

        //Ajax PUT function to update an album 
        function updateAlbumPUT(data, id){
            var url = '/albums/' + id

            $.ajax({
                method: 'PUT',
                url: url,
                data: data,
                success: function(){
                    
                }
            })
        }

        //Ajax DELETE function to delete an album from the DB
        function deleteAlbumPOST(id){
            var url = '/albums/' + id

            $.ajax({
                method: 'DELETE',
                url: url,
                success: function(){
                    
                }
            })
            swal("Deleted!", "You just deleted an Album!", "info"); //pop up alert
        }

        var myArray = []
        var dataURL = '/albums'

        //Ajax GET function to get contents from the DB and populate the table
        $.ajax({
            method: 'GET',
            url: dataURL,
            success: function(response){
                myArray = response
                for (var i in myArray){
                    buildTable(myArray[i])
                }
            }
        })

        //Function to build the table with the contents from the database
        function buildTable(obj){
                var row =   `<tr scope="row" class="album-row-${obj._id}">
                                <td class="text-center">
                                    <img src="" class="img-thumbnail" width="100" height="100" />
                                </td>
                                <td>${obj.artist}</td>
                                <td>${obj.album}</td>
                                <td>${obj.year}</td>
                                <td id="genre-${obj._id}" data-albumid="${obj._id}">${obj.genre}</td>
                                <td>
                                    <button class="btn btn-outline-danger" data-albumid="${obj._id}" id="delete-${obj._id}" >Delete</button>
                                    <button class="btn btn-outline-info" disabled data-albumid="${obj._id}" id="save-${obj._id}">Save</button>
                                    <button class="btn btn-outline-danger hidden" data-albumid="${obj._id}" id="cancel-${obj._id}">Cancel</button>
                                    <button class="btn btn-outline-primary hidden" data-albumid="${obj._id}" id="confirm-${obj._id}">Confirm</button>
                                </td>
                            </tr>`
                    $('#myTable').append(row)

                    $(`#delete-${obj._id}`).on('click', deleteAlbum)
                    $(`#cancel-${obj._id}`).on('click', cancelDeletion)
                    $(`#confirm-${obj._id}`).on('click', confirmDeletion)
                    $(`#save-${obj._id}`).on('click', saveUpdate)
                    $(`#genre-${obj._id}`).on('click', editGenre)
        }

        //Function to edit the Genre
        function editGenre(){
            var albumid = $(this).data('albumid')
            var value = $(this).html()

            $(this).unbind()
            $(this).html(`<input class="genre form-control" data-albumid="${albumid}" id="album-${albumid}" type="text" value="${value}">`)

            $(".genre").on('keyup', function(){
                var albumid = $(this).data('albumid')
                var saveBtn = $(`#save-${albumid}`)
                saveBtn.prop('disabled', false)

            })
        }

        //Function that saves an update
        function saveUpdate(){
            var albumid = $(this).data('albumid')
            var saveBtn = $(`#save-${albumid}`)
            var row = $(`.album-row-${albumid}`)

            saveBtn.prop('disabled', true)
            row.css('opacity', "0.5")

            var genre = $(`#album-${albumid}`).val();
            var data = {'genre': genre}
            updateAlbumPUT(data, albumid)

            setTimeout(function(){
                row.css('opacity', '1')
            }, 2000)

        }

        //Function to delete an album. It changes the buttons on the screen
        function deleteAlbum(){
            var albumid = $(this).data('albumid')

            var deleteBtn = $(`#delete-${albumid}`)
            var saveBtn = $(`#save-${albumid}`)
            var cancelBtn = $(`#cancel-${albumid}`)
            var confirmBtn = $(`#confirm-${albumid}`)

            deleteBtn.addClass('hidden')
            saveBtn.addClass('hidden')

            cancelBtn.removeClass('hidden')
            confirmBtn.removeClass('hidden')
        }

        //Function to cancel the deletion of an album
        function cancelDeletion(){
            var albumid = $(this).data('albumid')

            var deleteBtn = $(`#delete-${albumid}`)
            var saveBtn = $(`#save-${albumid}`)
            var cancelBtn = $(`#cancel-${albumid}`)
            var confirmBtn = $(`#confirm-${albumid}`)

            deleteBtn.removeClass('hidden')
            saveBtn.removeClass('hidden')

            cancelBtn.addClass('hidden')
            confirmBtn.addClass('hidden')
        }

        //Function to confirm the deletion of an album
        function confirmDeletion(){
            var albumid = $(this).data('albumid')
            var row = $(`.album-row-${albumid}`)
            row.remove()
            deleteAlbumPOST(albumid)
        }


    </script> 
</html>